db:
    conn:
        host: "localhost"
        user: "root"
        password: "root"
        port: "3308"
    name: "inventory"

kafka:
    brokers:
        - "localhost:19092"
    groupId: "inventory-vehicles"
    topic: "inventory-vehicles-car"