dbAggregateIdColumnName: "aggregate_id"
dbAggregateTypeColumnName: "aggregate_type"

dbHost: "localhost"
dbName: "inventory"
dbOutboxTableRef: "outbox"
dbPayloadColumnName: "payload"
dbUser: "inventory"
dbPassword: "inventory"
dbPort: "3308"

redisDb: "inventory"
redisHost: "localhost"
redis-key: "message-relay"
redisPort: "6379"

kafkaBrokers:
  - "localhost:19092"

kafkaTopics:
  -
    name: "inventory-car"
    numPartitions: 1
    replicationFactor: 1
    aggregateTypeRegexp: "Car"