db:
    conn:
        host: "localhost"
        user: "root"
        password: "root"
        port: "3308"
    name: "inventory"
    outboxTableRef: "outbox"
    payloadColumnName: "payload"
    aggregateIdColumnName: "aggregate_id"
    aggregateTypeColumnName: "aggregate_type"

redis:
    host: "localhost"
    port: 6379
    key: "inventory:message-relay-binlog"

kafka:
    brokers:
      - "localhost:19092"
    topics:
      -
        name: "inventory-vehicles-car"
        numPartitions: 1
        replicationFactor: 1
        aggregateTypeRegexp: "Car"